<main id="wiki-wrapper" class="compare pure-g">
  <header id="head" class="pure-u-1">
    <h1>History for <strong>{{path}}</strong></h1>
  </header>

  <aside id="wiki-sidebar-container" class="pure-u-1 pure-u-md-10-24">
    <nav id="wiki-main-menu">
      <ul class="actions">
        <li class="label"><h1>Actions</h1></li>
        <li class="minibutton"><a href="{{base_url}}/{{escaped_url_path}}" class="action-view-page"><i class="fa fa-eye"><span>View Page</span></i></a></li>
        <li class="minibutton"><a href="{{base_url}}/edit/{{escaped_url_path}}" class="action-edit-page"><i class="fa fa-pencil-square-o"><span>Edit Page</span></i></a></li>
        <li class="minibutton"><a href="{{base_url}}/history/{{escaped_url_path}}" class="action-page-history"><i class="fa fa-history"><span>Page History</span></i></a></li>
        {{#show_revert}}
        <li class="minibutton">
          <form name="gollum-revert" action="{{base_url}}/revert/{{escaped_url_path}}/{{before}}/{{after}}" method="post" id="gollum-revert-form">
            <a href="#" class="gollum-revert-button"><i class="fa fa-undo"><span>Revert Changes</span></i></a>
          </form>
        </li>
        {{/show_revert}}
      </ul>
      <ul class="search">
        <li class="label search"><h1>Search</h1></li>
        <li class="search-field">
          {{>searchbar}}
        </li>
      </ul>
    </nav>
  </aside>

  {{#message}}
  <p class="pure-u-1 pure-u-14-24">{{message}}</p>
  {{/message}}

  <article id="compare-content"  class="pure-u-1 pure-u-md-14-24">

    <div class="data highlight pure-u-1">
      <table cellpadding="0" cellspacing="0"> 
        {{#lines}}
          <tr> 
            <td class="line_numbers">{{ldln}}</td>
            <td class="line_numbers">{{rdln}}</td>
            <td class="{{class}}">
              <pre>{{line}}</pre>
            </td>
          </tr>
        {{/lines}}
      </table>
    </div>
  </article>
</main>
