<main id="wiki-wrapper" class="create pure-g">
  <header id="head" class="pure-u-1">
    <h1>Create New Page</h1>
  </header>

  <article id="wiki-content" class="create edit pure-u-1 pure-u-md-14-24">
    <div class="has-sidebar">
      {{>editor}}
    </div>
  </article>

  <script type="text/javascript">
  var default_markup = '{{default_markup}}';
  </script>
  
  {{something}}
