<main id="wiki-wrapper" class="edit pure-g">
  <header id="head" class="pure-u-1">
    <h1>Editing <strong>{{title}}</strong></h1>
  </header>

   <aside id="wiki-sidebar-container" class="pure-u-1 pure-u-md-10-24">
    <nav id="wiki-main-menu">
      <ul class="actions">
        <li class="label actions"><h1>Actions</h1></li>
        <li class="minibutton"><a href="{{base_url}}/{{escaped_url_path}}" class="action-view-page"><i class="fa fa-eye"><span>View Page</span></i></a></li>
        <li class="minibutton"><a href="{{base_url}}/history/{{escaped_url_path}}" class="action-page-history"><i class="fa fa-history"><span>Page History</span></i></a></li>
      </ul>
    </nav>
  </aside>

  <article id="wiki-content" class="pure-u-1 pure-u-md-14-24">{{>editor}}</article>
