<div id="gollum-editor" data-escaped-name="{{escaped_name}}" class="{{#is_create_page}}create{{/is_create_page}}{{#is_edit_page}}edit{{/is_edit_page}}">

  {{#is_create_page}}
  <form name="gollum-editor" action="{{base_url}}/create" method="post" class="pure-form pure-form-aligned">
  {{/is_create_page}}
  {{#is_edit_page}}
  <form name="gollum-editor" action="{{base_url}}/edit/{{escaped_name}}" method="post" class="pure-form pure-form-aligned">
  {{/is_edit_page}}

    <fieldset id="gollum-editor-fields">
      {{#is_create_page}}
      <div id="gollum-editor-title-field" class="singleline">
        <label for="page" class="jaws"><i class="fa fa-file-text-o"></i></label>
        <input type="text" name="page" id="gollum-editor-page-title" value="{{page_name}}">
        {{#has_path}}
        <p class="path_note"><strong>NOTE:</strong> This page will be created within the &quot;<strong>{{path}}</strong>&quot; directory</p>
        {{/has_path}}
      </div>
      {{/is_create_page}}
  
      {{#is_edit_page}}
      <input type="hidden" name="page" id="gollum-editor-page-title" value="{{page_name}}">
      {{/is_edit_page}}
      <input type="hidden" name="path" id="gollum-editor-page-path" value="{{path}}">

      <div id="gollum-editor-format-selector">
        <label for="format">Edit Mode</label>
        <select id="wiki_format" name="format">
          {{#formats}}
          <option {{#selected}}selected="selected" {{/selected}}value="{{id}}">
            {{name}}
          </option>
          {{/formats}}
          </select>
      </div>

      <textarea id="gollum-editor-body" data-markup-lang="{{format}}" name="content" class="mousetrap pure-u-1">{{content}}</textarea>

      {{#header}}
      <div id="gollum-editor-edit-header" class="collapsed">
        <a href="#" class="button"><span>Expand/Collapse</span></a>
        <h4>Header</h4>
        <textarea id="gollum-editor-header" name="header">{{header}}</textarea>
      </div>
      {{/header}}

      {{#footer}}
      <div id="gollum-editor-edit-footer" class="collapsed">
        <a href="#" class="button"><span>Expand/Collapse</span></a>
        <h4>Footer</h4>
        <textarea id="gollum-editor-footer" name="footer">{{footer}}</textarea>
      </div>
      {{/footer}}

      {{#sidebar}}
      <div id="gollum-editor-edit-sidebar" class="collapsed">
        <a href="#" class="button"><span>Expand/Collapse</span></a>
        <h4>Sidebar</h4>
        <textarea id="gollum-editor-sidebar" name="sidebar">{{sidebar}}</textarea>
      </div>
      {{/sidebar}}

      <div id="gollum-editor-edit-summary" class="singleline">
        <label for="message" class="jaws"><i class="fa fa-pencil"></i></label>
        {{#is_create_page}}
        <input type="text" name="message" id="gollum-editor-message-field" value="Created {{page_name}} ({{format}})">
        {{/is_create_page}}
        {{#is_edit_page}}
        <input type="text" name="message" id="gollum-editor-message-field" value="Updated {{page_name}} ({{format}})">
        {{/is_edit_page}}
      </div>

      <span class="jaws"><br></span>
      <button type="submit" id="gollum-editor-submit" value="Save" title="Save current changes"><i class="fa fa-save"></i>Save</button>
      <a href="{{base_url}}/preview" id="gollum-editor-preview" class="minibutton" title="Preview this Page"><i class="fa fa-eye"></i>Preview</a>
    </fieldset>
  </form>
</div>
