<main id="wiki-wrapper" class="error pure-g">
  <header id="head" class="pure-u-1">
    <h1>Error</h1>
  </header>

  <article id="wiki-content" class="pure-u-1 pure-u-md-14-24">
    <section id="wiki-body" class="gollum-{{format}}-content">
      <p>{{message}}</p>
    </section>
  </article>
</article>
