<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/gollum.css" media="all">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/template.css" media="all">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/_styles.css" media="all">
  {{#css}}<link rel="stylesheet" type="text/css" href="{{base_url}}/custom.css" media="all">{{/css}}
  {{#js}}<script type="text/javascript" src="{{base_url}}/custom.js"></script>{{/js}}

  <style>
    html {
      background-color : #555753 ;
    }

    .minibutton a {
      border : none ;
    }

    .minibutton a:link,
    .minibutton a:visited { background : #F8F8F6 ; color : #2E3436 ;}
    .minibutton a:hover,
    .minibutton a:active  { background : #729FCF ; color : #FFFFFF ; }

    #results ol.tree li.file a span.icon,
    #results ol.tree li label {
      background : none ;
      width : auto ;
      height : auto ;
      margin-right : 0 ;
      vertical-align : baseline ;
    }

    #results ol.tree li.file a span.icon:before,
    #results ol.tree li label:before {
      display : inline-block ;
      margin-right : 0.25em ;
      width : 1.2em ;
      font-family : FontAwesome ;
      text-align : right ;
    }

    #results ol.tree li.file a span.icon:before { content : "\f0f6" ; }
    #results ol.tree li label:before            { content : "\f114" ; }

    #results ol.tree li.file a {
      padding : 0 0.25em 0 0 ;
      border-radius : 3px ;
    }

    #results ol.tree li.file a:hover { background : #729FCF ; color : #FFFFFF ; }
  </style>
  <title>{{title}}</title>
</head>
<body>

<div id="home_button">
  <ul class="actions">
    <li class="minibutton">
      <a href="{{base_url}}/" class="action-home-page">Home</a>
    </li>
  </ul>
</div>

{{#has_results}}
  <div id="results">
  {{{results}}}
  </div>
{{/has_results}}

{{#no_results}}
  <p id="no-results">
    There are no pages in <strong>{{ref}}</strong>.
  </p>
{{/no_results}}
</body>
</html>
