<main id="wiki-wrapper" class="history pure-g">

  <header id="head" class="pure-u-1">
    <h1>History for <strong>{{title}}</strong></h1>
  </header>

  <aside id="wiki-sidebar-container" class="pure-u-1 pure-u-md-10-24">
    <nav id="wiki-main-menu">
      <ul class="actions">
        <li class="label actions"><h1>Actions</h1></li>
        <li class="minibutton"><a href="{{base_url}}/{{escaped_url_path}}" class="action-view-page"><i class="fa fa-eye"><span>View Page</span></i></a></li>
        <li class="minibutton"><a href="{{base_url}}/edit/{{escaped_url_path}}" class="action-edit-page"><i class="fa fa-pencil-square-o"><span>Edit Page</span></i></a></li>
      </ul>
      <ul class="search">
        <li class="label search"><h1>Search</h1></li>
        <li class="search-field">
          {{>searchbar}}
        </li>
      </ul>
    </nav>
  </aside>

  <article id="wiki-history" class="pure-u-1 pure-u-md-14-24">

    <ul class="actions">
      <li class="minibutton"><a href="javascript:void(0);" class="action-compare-revision"><i class="fa fa-mortar-board">Compare Revisions</i></a></li>
    </ul>

    <form name="compare-versions" id="version-form" method="post" action="{{base_url}}/compare/{{escaped_url_path}}">
    <fieldset>
      <table>
        <tbody>
          {{#versions}}
          <tr>
            <td class="checkbox">
              <input type="checkbox" name="versions[]" value="{{id}}">
            </td>
            <td class="author">
              {{>author_template}}
            </td>
            <td class="commit-name">
              <span class="time-elapsed" title="{{date_full}}">{{date}}:</span>&nbsp;
              {{message}}
              [<a href="{{base_url}}/{{escaped_url_path}}/{{id}}" title="View commit">{{id7}}</a>]
            </td>
          </tr>
          {{/versions}}
        </tbody>
      </table>
    </fieldset>
    </form>

    <footer id="footer">
      <ul class="actions">
        <li class="minibutton"><a href="javascript:void(0);" class="action-compare-revision"><i class="fa fa-mortar-board">Compare Revisions</i></a></li>
      </ul>
    </footer>
</article>
</main>
