<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>{{title}}</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/g/pure@0.5.0(base-min.css+grids-min.css+grids-responsive-min.css)">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Gentium+Book+Basic|Inconsolata">

    <style>
      html {
        width : auto ;
      }

      body {
        margin : 1em 0.25em ;
        width : auto ;

        background-color : #F8F8F6 ;
        color : #2E3436 ;
      }

      a:link      { color : #204A87 ; }
      a:visited   { color : #5C3566 ; }
      a:hover     { color : #EF2929 ; }
      a:active    { color : #EF2929 ; } 

      #head h1 a {
        font-size : 125% ;
        font-weight : bold ;
        font-family : serif ;
        
        text-decoration : none ;
      }
      
      #head h1 a:link     { color : #000000 ; }
      #head h1 a:visited  { color : #2E3436 ; }
      #head h1 a:hover,
      #head h1 a:active   { color : #000000 ; text-shadow : 0px 0px 3px #888A85 ; }

      #wiki-main-menu ul.actions {
        margin : 0 ;
        padding : 0 ;
        width : 100% ;
        text-align : justify ;
      }

      #wiki-main-menu ul.actions:before {
        content : '' ;
        display : block ;
        width : 100% ;
        margin-bottom : -1em ;
      }

      #wiki-main-menu ul.actions:after {
        content : '' ;
        display : inline-block ;
        width : 100% ;
      }

      #wiki-main-menu ul.actions li.label {
        display : none ;
      }

      #wiki-main-menu ul.actions li.minibutton {
        display : inline-block ;
        position : relative ;
        top : 1em ;
        margin-bottom : 0.25em ;
        width : 2em ;
      }

      #wiki-main-menu ul.actions li.minibutton a {
        display : block ;
       
        margin : 0 auto ;
        padding : 0.25em 0.5em ;
        width : 1em ;

        border : 1px solid #BABDB6 ;
        border-radius : 3px ;

        text-align : center ;
      }

      #wiki-main-menu ul.actions li.minibutton a:link,
      #wiki-main-menu ul.actions li.minibutton a:visited {
        color : #555753 ;
        background-color : #FFFFFF ;
      }

      #wiki-main-menu ul.actions li.minibutton a:hover,
      #wiki-main-menu ul.actions li.minibutton a:active {
        color : #000000 ;
        background-color : #FFFFFF ;
        border-color : #000000 ;
      }

      #wiki-main-menu ul.actions li.minibutton a i span {
        display : none ;
      }
  
      #wiki-main-menu ul.search {
        margin : 0 ;
        padding : 0 ;
        text-align : center ;
      }

      #wiki-main-menu ul.search li.label {
        display : none ;
      }

      #searchbar-fauxtext {
        padding : 0.25em 0 ;
        border : 1px solid #BABDB6 ;
        border-radius : 3px ;
        background-color : #FFFFFF ;
        text-align : center ;
      }

      #searchbar-fauxtext:hover {
        border-color : #000000 ;
      }

      #searchbar-fauxtext #search-query {
        margin : 0 ;
        padding : 0 ;
        width : 90% ;
        border : none ;
      }

      #searchbar-fauxtext #search-submit {
        text-decoration : none ;
      }

      #searchbar-fauxtext #search-submit:link,
      #searchbar-fauxtext #search-submit:visited,
      #searchbar-fauxtext #search-submit:hover,
      #searchbar-fauxtext #search-submit:active {
        color : #000000 ;
      }

      #searchbar-fauxtext #search-submit:before {
        display : inline ;
        content : "\f002" ;
        font-family : FontAwesome ;
        font-size : 1em ;
        width : 1em ;
      }

      #searchbar-fauxtext #search-submit span {
        display : none ;
      }

      @media screen and (min-width: 48em) {

      body {
        margin : 1em auto ;
        width  : 91% ;
      }

      #wiki-sidebar-container {
        position : absolute ;
        right : 0 ;
        top : 7.4375em ;
      }
  
      #wiki-sidebar-container h1 {
        font-size : 1.2em ;
      }

      #wiki-main-menu ul {
        text-align : left !important;
      }

      #wiki-main-menu ul li.label {
        display : block !important;
        margin : 0 ;
      }

      #wiki-main-menu ul li.label h1 {
        margin : 0 ;
      }

      #wiki-main-menu ul.actions li.minibutton {
        display : block ;
      }

      #wiki-main-menu ul.actions li.minibutton a {
        text-align : left ;
        width  : 11em ;
      }

      #wiki-main-menu ul.actions li.minibutton a i {
        width : auto ;
        text-align : right ;
      }

      #wiki-main-menu ul.actions li.minibutton a i span {
        margin-left : 0.25em ;
        display : inline ;
      }

      #wiki-main-menu ul.search li.search-field {
        margin-top : 1em ;
        width : 12em ;
      }

      #wiki-main-menu ul.actions li.label,
      #wiki-main-menu ul.search li.label {
        margin-left : 3px;
      }

      #searchbar-fauxtext #search-query {
        width : 10em ;
      }

      }

      #gollum-dialog-dialog {
        display: block;
        overflow: visible;
        position: absolute;
        top: 50%;
        left: 0 ;
      }

      #gollum-dialog-dialog.active {
        display: block;
      }

      #gollum-dialog-dialog-inner {
        margin: 1em;
        position: relative;
        width: auto ;
        border : 1px solid #888A85 ;
        border-radius : 3px ;
      }

      @media screen and (min-width: 48em) {
        #gollum-dialog-dialog {
          top : 50% ;
          left : 50% ;
        }

        #gollum-dialog-dialog-inner {
          margin : 0 0 0 -34.5% ;
          width : 69% ;
        }
      }


      #gollum-dialog-dialog-bg {
        background-color : #FFFFFF;
        overflow : hidden ;
        padding : 0.25em 0.5em ;
      }

      #gollum-dialog-dialog-inner h4 {
        margin : 0 0 0.25em 0 ;
        padding : 0 0 0.25em 0 ;

        color : #000000 ;

        font-weight : bold ;
        font-family  : serif ;
        font-size : 1.25rem ;

        border-bottom : 1px dashed #888A85 ;
      }

      #gollum-dialog-dialog-body {
        font-size: 1.1em;
      }

      #gollum-dialog-dialog-body fieldset {
        display : block ;
        margin : 0 ;
        padding : 0 ;
        overflow : hidden ;
        border : none ;
      }

      #gollum-dialog-dialog-body fieldset .field {
        margin: 0 0 0.5em 0;
        padding: 0;
      }

      #gollum-dialog-dialog-body fieldset .field label {
        display : block ;

        margin : 0 ;
        padding : 0 ;

        font-weight : bold ;
        font-size   : 1.2em ;
      
        color : #2E3436 ;
      }

      #gollum-dialog-dialog-body fieldset .field input[type="text"] {
        display : block ;
        box-sizing : border-box ;
        margin : 0.25em auto ;
        padding : 0.25em 0.5em ;

        width : 100% ;

        border : 1px solid #888A85 ;
        outline : none ;
      }

      #gollum-dialog-dialog-body fieldset .field input[type="text"]:focus {
        border-color : #000000 ;
      }

      #gollum-dialog-dialog-body fieldset .field span.context {
        font-size : 0.8em;
        color : #555753 ;
      }

      #gollum-dialog-dialog-body fieldset .field:last-child {
        margin: 0 0 0.5em 0;
      }

      #gollum-dialog-dialog-buttons {
        border-top: 1px solid #D3D7CF ; 
        overflow : hidden ;
        margin : 0.5em 0 0 0 ;
        padding : 0.25em 0 0 0 ;
      }

      #gollum-dialog-dialog a.minibutton {
        display : block ;
        float : right ;
        
        margin-left : 0.5em ;

        padding : 0.25em 1em ;

        width : auto ;
        cursor : pointer ;

        font-weight : bold ;
        text-decoration : none ;

        border-radius : 3px ;
      }

      #gollum-dialog-dialog a.minibutton:link,
      #gollum-dialog-dialog a.minibutton:visited {
        color : #2E3436 ;
        background-color : #EEEEEC ;
      }

      #gollum-dialog-dialog a#gollum-dialog-action-ok:hover,
      #gollum-dialog-dialog a#gollum-dialog-action-ok:active {
        color : #FFFFFF ;
        background-color : #3465A4 ;
      }


      #gollum-dialog-dialog a#gollum-dialog-action-cancel:hover,
      #gollum-dialog-dialog a#gollum-dialog-action-cancel:active {
        color : #FFFFFF ;
        background-color : #CC0000 ;
      }

      #files {
        padding : 0 ;
      }

      #files li {
        list-style : none ;
      }

      #files li a:before {
        display : inline-block ;
        margin-right : 0.25em ;
        width : 1em ;
        font-family : FontAwesome ;
        text-align : right ;
        color : #2E3436 ;
      }

      #files li a:before {
        content : "\f0f6" ;
      }

      #files li a.folder:before {
        content : "\f115" ;
      }

      #gollum-editor-fields {
        border : none ;
      }

      #gollum-editor-format-selector {
        text-align : right ;
        line-height : 1.2em ;
        margin : 0 0 0.75em 0;
      }

      #gollum-editor-format-selector label,
      #gollum-editor-format-selector select {
        font-size : 0.9em ;
      }

      #gollum-editor-format-selector select {
        border : none ;
        color  : #2E3436 ;
        background-color : transparent ;
        outline : none ;
        text-align : center ;
      }

      #gollum-editor-body {
        box-sizing : border-box ;
        border : 1px solid #888A85 ;
        height : 30em ;
        color : #888A85 ;
        outline : none ;
      }

      #gollum-editor-body:focus {
        color : #000000 ;
        border-color : #000000 ;
      }

      .singleline {
        margin : 1em 0 ;
        color : #888A85 ;
      }

      .singleline:hover {
        color : #000000 ;
      }

      .singleline label {
        width : 1.25em ;
        text-align : right ;
      }

      .singleline label i {
        vertical-align : bottom ;
      }

      .singleline label,
      .singleline input {
        display : block ;
        font-size : 1em ;
        line-height : 1.25em ;
      }

      .singleline input {
        margin : -1.25em 0 0 0 ;
        padding-left : 1.5em ;
        box-sizing : border-box ;
        width : 100% ;
        color : #888A85 ; 
        background : #FFFFFF ;
        border : 1px solid #BABDB6 ;
        border-radius : 3px ;
      }

      .singleline input:focus {
        color : #000000 ;
        border-color : #000000 ;
        outline : none ;
      }

      #gollum-editor-submit,
      #gollum-editor-preview {
        display : inline-block ;
        padding : 0.25rem 0.5rem ;
        font-weight : bold ;
        font-size   : 1rem ;
        line-height : 1.2rem ;
        text-decoration : none ;

        border : none ;
        border-radius : 3px ;
        background-color : #BABDB6 ;
        color : #2E3436 ;
      }

      #gollum-editor-submit i,
      #gollum-editor-preview i {
        color : #888A85 ;
        margin-right : 0.25em ;
      }

      #gollum-editor-submit:hover,
      #gollum-editor-submit:active { background-color : #3465A4 ; color : #FFFFFF ; }
      #gollum-editor-preview:hover,
      #gollum-editor-preview:active { background-color : #73D216 ; color : #FFFFFF ; }

      #gollum-editor-submit:hover i,
      #gollum-editor-submit:active i { color : #000000 ; }
      #gollum-editor-preview:hover i,
      #gollum-editor-preview:active i { color : #000000 ; }

      #version-form fieldset {
        border : none ;
      }

      #version-form fieldset table {
        width : 100% ;
      }

      #version-form fieldset table tr td {
        padding : 0.25em 0.5em ;
      }

      #version-form fieldset table tr:hover {
        background-color : #FFFFFF ;
      }

      #wiki-history ul.actions {
        padding : 0 ;
      }

      #wiki-history ul.actions li.minibutton {
        list-style : none ;
      }

      #wiki-history ul.actions li.minibutton a {
        display : inline-block ;
        padding : 0.25em 0.5em ;
        font-weight : bold ;
        font-size   : 1em ;
        line-height : 1.2em ;

        text-decoration : none ;
        
        border-radius : 3px ;
      }

      #wiki-history ul.actions li.minibutton a:link,
      #wiki-history ul.actions li.minibutton a:visited {
        background-color : #BABDB6 ;
        color : #2E3436 ;
      }

      
      #wiki-history ul.actions li.minibutton a:hover,
      #wiki-history ul.actions li.minibutton a:active {
        background-color : #73D216 ;
        color : #FFFFFF ;
      }

      #compare-content table {
        background-color : #FFFFFF ;
        width  : 100% ;
      }

      #compare-content table tr {
        border : 1px solid #BABDB6 ;
      }

      #compare-content table tr td.line_numbers {
        background-color : #F8F8F6 ;
        color : #BABDB6 ;
        border : 1px solid #BABDB6 ;
        
        width : 3.5em ;

        text-align : center ;
      }
      
      #compare-content table tr td pre {
        margin : 0 ;
      }

      #compare-content table tr td {
        border-color : #BABDB6 ;
        color : #888A85 ;
        background-color : #F8F8F6  ;
      }

      #compare-content table tr td.gi {
        background-color : #F3FCEA;
        color : #000000 ;
        border : 1px solid #8AE234 ;
      }

      #compare-content table tr td.gd {
        background-color : #F9E5E5 ;
        color : #000000 ;
        border : 1px solid #CC0000 ;
      }

      #last-edit {
        font-size : 0.8em ; 
      }

.markdown-body hr {
    border : none ;
    height : 1.5em ;
    margin : 0 0 1.1em 0 ;
    font-size : 0.75em ;
    font-weight : bold ;
}

.markdown-body hr:after {
    display : block ;
    content : "(\0E51\2022\FE4F\2022)" ;
    text-align : center ;
    color   : #4e9a06 ;
}

.markdown-body > * {
    font-family : 'Gentium Book Basic', Georgia, serif ;
    font-weight : 400 ;
    
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-left : -1.25em ;
}

.markdown-body h1 a.anchor,
.markdown-body h2 a.anchor,
.markdown-body h3 a.anchor,
.markdown-body h4 a.anchor,
.markdown-body h5 a.anchor,
.markdown-body h6 a.anchor {
  display : inline-block ;
  width : 1em ;
  margin-right : 0.25em ;
}

.markdown-body h1 a.anchor i:before,
.markdown-body h2 a.anchor i:before,
.markdown-body h3 a.anchor i:before,
.markdown-body h4 a.anchor i:before,
.markdown-body h5 a.anchor i:before,
.markdown-body h6 a.anchor i:before {
  display : none ;
}

.markdown-body h1:hover a.anchor i:before,
.markdown-body h2:hover a.anchor i:before,
.markdown-body h3:hover a.anchor i:before,
.markdown-body h4:hover a.anchor i:before,
.markdown-body h5:hover a.anchor i:before,
.markdown-body h6:hover a.anchor i:before {
  display : inline ;
} 

.markdown-body blockquote {
    border-left : 6px solid #AD7FA8 ;
    margin-left : 0.5em ;
    padding-left : 0.5em ;
}

.markdown-body > p > img:only-child,
.markdown-body > p > a > img:only-child {
    display : block ;
    width : 62% ;
    margin-left : auto ;
    margin-right : auto ;
    border : 6px solid #FFFFFF ;
    background-color : #FFFFFF ;
    box-shadow : 0px 1px 3px #888A85 ;
}

.markdown-body > dl dt,
.markdown-body > dl dd {
    margin-top : 0.125em ;
    margin-bottom : 0.125em ;
    padding-left : 0.5em ;
    border-left : 6px solid ;
}

.markdown-body > dl dt {
    border-color : #8AE234 ;
}

.markdown-body > dl dd {
    border-color : #E9B96E ;
}

.markdown-body ul li ul,
.markdown-body ul li ol,
.markdown-body ul li dl,
.markdown-body ol li ul,
.markdown-body ol li ol,
.markdown-body ol li dl,
.markdown-body dl dd ul,
.markdown-body dl dd ol,
.markdown-body dl dd dl {
    margin-top : 0 ;
    margin-bottom : 0 ;
}

.markdown-body pre,
.markdown-body .gist .gist-file {
    padding : 0.5em 0 ;

    border-width : 6px 0 ;
    border-style : solid ;
    border-color : #729FCF ;
    border-radius : 0px ;
}

.markdown-body pre code,
.markdown-body .gist .gist-data {
    font-size : 0.8em ;
}

.markdown-body .gist {
    color : #2E3436 ;
}

.markdown-body .gist .render-container .render-viewer-error,
.markdown-body .gist .render-container .render-viewer-fatal,
.markdown-body .gist .render-container .octospinner {
    display : none;
}

.markdown-body .gist .gist-render iframe {
    width : 100% ;
}

.markdown-body .gist pre,
.markdown-body .gist .gist-file,
.markdown-body .gist .gist-file .gist-data .line-pre,
.markdown-body .gist .gist-file .gist-data .line-number {
    font-family : 'Inconsolata', monospace ;
}

.markdown-body .gist .gist-file .gist-meta {
    padding : 0 ;

    font-size : 0.8em ;
    font-family : 'Gentium Book Basic', Georgia, serif ;
    font-weight : 400 ;

    text-shadow : none ;

    color : #000000 ;
    background-color : transparent ;
    background-image : none ;
}

.markdown-body .gist .gist-file .gist-meta a {
    font-weight : 400 ;
    text-decoration : none ;
}

.markdown-body .gist .gist-file .gist-meta a:link {
    color : #555A85 ;
}

.markdown-body .gist .gist-file .gist-meta a:visited {
    color : #555A85 ;
}

.markdown-body .gist .gist-file .gist-meta a:hover {
    color : #EF2929 ;
}

.markdown-body .gist .gist-file .gist-meta a:active {
    color : #EF2929 ;
}

.markdown-body .gist .gist-file .gist-data {
    background-color : transparent ;
    border : none ;
}

.markdown-body .gist .gist-file .gist-data .line-pre {
    background : transparent !important ;
    border : none !important ;
    margin : 0 !important ;
    padding : 0 !important ;
}

.markdown-body .gist .gist-file .gist-data .line-numbers {
    background-color: transparent ;
    color : #888A85 ;
    border-right : 1px dashed #D3D7CF;
}

.markdown-body .hljs {
    display : block ;
}

/* Comment */
.markdown-body .hljs-comment,
.markdown-body .hljs-template_comment,
.markdown-body .diff .hljs-header,
.markdown-body .hljs-javadoc {
    color : #204A87 ;
    font-style : italic ;
}

/* Keyboard */
.markdown-body .hljs-keyword,
.markdown-body .css .rule .hljs-keyword,
.markdown-body .hljs-winutils,
.markdown-body .javascript .hljs-title,
.markdown-body .nginx .hljs-title,
.markdown-body .hljs-subst,
.markdown-body .hljs-request,
.markdown-body .hljs-status {
    color : #C4A000 ;
    font-weight : bold ;
}

/* Number */
.markdown-body .hljs-number,
.markdown-body .hljs-hexcolor,
.markdown-body .ruby .hljs-constant {
    color: #4E9A06;
}

/* String */
.markdown-body .hljs-string,
.markdown-body .hljs-tag .hljs-value,
.markdown-body .hljs-phpdoc,
.markdown-body .tex .hljs-formula {
    color : #A40000 ;
}

/* ID, Title */
.markdown-body .hljs-title,
.markdown-body .hljs-id,
.markdown-body .coffeescript .hljs-params,
.markdown-body .scss .hljs-preprocessor {
    color : #A40000 ;
    font-weight : bold ;
}

.markdown-body .javascript .hljs-title,
.markdown-body .lisp .hljs-title,
.markdown-body .clojure .hljs-title,
.markdown-body .hljs-subst {
    font-weight : normal ;
}

/* Literal */
.markdown-body .hljs-class .hljs-title,
.markdown-body .haskell .hljs-type,
.markdown-body .vhdl .hljs-literal,
.markdown-body .tex .hljs-command {
    color : #204A87 ;
    font-weight : bold ;
}

.markdown-body .hljs-tag,
.markdown-body .hljs-tag .hljs-title,
.markdown-body .hljs-rules .hljs-property,
.markdown-body .django .hljs-tag .hljs-keyword {
    color : #0000A4 ;
    font-weight : normal ;
}

/* Attribute */
.markdown-body .hljs-attribute,
.markdown-body .hljs-variable,
.markdown-body .lisp .hljs-body {
    color: #009A9A ;
}

/* Regexp */
.markdown-body .hljs-regexp {
    color: #4e9A06 ;
}

/* Symbol */
.markdown-body .hljs-symbol,
.markdown-body .ruby .hljs-symbol .hljs-string,
.markdown-body .lisp .hljs-keyword,
.markdown-body .tex .hljs-special,
.markdown-body .hljs-prompt {
    color: #5C3566 ;
}

/* Builtin */
.markdown-body .hljs-built_in,
.markdown-body .lisp .hljs-title,
.markdown-body .clojure .hljs-built_in {
    color: #729FCF ;
}

/* Preproc */
.markdown-body .hljs-preprocessor,
.markdown-body .hljs-pragma,
.markdown-body .hljs-pi,
.markdown-body .hljs-doctype,
.markdown-body .hljs-shebang,
.markdown-body .hljs-cdata {
    color: #204A87 ;
    font-weight: bold
}

/* Diff.Deleted */
.markdown-body .hljs-deletion {
    background-color : #4E9A06 ;
    color : #EEEEEC ;
}

/* Diff.Added */
.markdown-body .hljs-addition {
    background-color : #EF2929 ;
    color : #EEEEEC ;
}

/* Diff.Changed */
.markdown-body .diff .hljs-change {
    background-color : #729FCF ;
}

/* Chunk */
.markdown-body .hljs-chunk {
    color : #BABDB6 ;
}

.markdown-body .gist-syntax {
    background-color : transparent !important;
}

.markdown-body .gist-syntax .c {
    color : #204A87 ;
}

/* Comment */
.markdown-body .gist-syntax .cm {
    color : #204A87 ;
}

/* Comment.Multiline */
.markdown-body .gist-syntax .cp {
    color : #204A87 ;
}

/* Comment.Preproc */
.markdown-body .gist-syntax .c1 {
    color : #204A87 ;
}

/* Comment.Single */
.markdown-body .gist-syntax .cs {
    color : #5C3566 ;
}

/* Commsne.Special  */

.markdown-body .gist-syntax .err {
    color : #EEEEEC ;
    background-color : #EF2929 ;
}

/* Error */

.markdown-body .gist-syntax .k {
    color : #C4A000 ;
}

/* Keyboard */
.markdown-body .gist-syntax .kc {
    color : #4E9A06 ;
}

/* Keyboard.Constant */
.markdown-body .gist-syntax .kd {
    color : #4E9A06 ;
}

/* Keyword.Declaration */
.markdown-body .gist-syntax .kp {
    color : #5C3566 ;
}

/* Keyword.Pseudo */
.markdown-body .gist-syntax .kr {
    color : #C4A000 ;
}

/* Keyword.Reserved */
.markdown-body .gist-syntax .kt {
    color : #4E9A06 ;
}

/* Keyword.Type */

.markdown-body .gist-syntax .o {
    color : #4E9A06 ;
}

/* Operator */
.markdown-body .gist-syntax .ow {
    color : #2E3436 ;
}

/* Operator.Word */
.markdown-body .gist-syntax .gd {
    color : #EEEEEC ;
    background-color : #EF2929 ;
}

/* Generic.Deleted */
.markdown-body .gist-syntax .gd .x {
    color : #EEEEEC ;
    background-color : #EF2929 ;
}

/* Generic.Deleted.Specific */
.markdown-body .gist-syntax .ge {
    color : #000000 ;
}

/* Generic.Emph */
.markdown-body .gist-syntax .gr {
    color : #A40000 ;
}

/* Generic.Error */
.markdown-body .gist-syntax .gh {
    color : #888A85 ;
}

/* Generic.Heading */
.markdown-body .gist-syntax .gi {
    color : #EEEEEC ;
    background-color : #4E9A06 ;
}

/* Generic.Inserted */
.markdown-body .gist-syntax .gi .x {
    color : #EEEEEC ;
    background-color : #4E9A06 ;
}

/* Generic.Inserted.Specific */
.markdown-body .gist-syntax .go {
 :   color : #888A85 ;
}

/* Generic.Output */
.markdown-body .gist-syntax .gp {
    color : #2E3436 ;
}

/* Generic.Prompt */
.markdown-body .gist-syntax .gu {
    color : #C4A000 ;
}

/* Generic.Subheading */
.markdown-body .gist-syntax .gt {
    color : #A40000 ;
}

/* Generic.Traceback */

section.contnet .gist-syntax .na {
    color : #009A9A ;
}

/* Name.Attribute */
.markdown-body .gist-syntax .nb {
    color : #729FCF ;
}

/* Name.Builtin */
.markdown-body .gist-syntax .nc {
    color : #204A87 ;
}

/* Name.Class */
.markdown-body .gist-syntax .no {
    color : #009A9A ;
}

/* Name.Constant */
.markdown-body .gist-syntax .ni {
    color : #5C3566 ;
}

/* Name.Entity */
.markdown-body .gist-syntax .ne {
    color : #A40000 ;
}

/* Name.Exception */
.markdown-body .gist-syntax .nf {
    color : #A40000 ;
}

/* Name.Function */
.markdown-body .gist-syntax .nn {
    color : #555753 ;
}

/* Name.Namespace */
.markdown-body .gist-syntax .nt {
    color : #204A87 ;
}

/* Name.Tag */
.markdown-body .gist-syntax .nv {
    color : #204A87 ;
}

/* Name.Variable */
.markdown-body .gist-syntax .bp {
    color : #3465A4 ;
}

/* Name.Builtin.Pseudo */
.markdown-body .gist-syntax .vc {
    color : #3465A4 ;
}

/* Name.Variable.Class */
.markdown-body .gist-syntax .vg {
    color : #3465A4 ;
}

/* Name.Variable.Global */
.markdown-body .gist-syntax .vi {
    color : #3465A4 ;
}

/* Name.Variable.Instance */
.markdown-body .gist-syntax .w {
    color : #BABDB6 ;
}

/* Text.Whitespace */

.markdown-body .gist-syntax .m {
    color : #009A9A ;
}

/* Literal.Number */
.markdown-body .gist-syntax .mf {
    color : #009A9A ;
}

/* Literal.Number.Float */
.markdown-body .gist-syntax .mh {
    color : #009A9A ;
}

/* Literal.Number.Hex */
.markdown-body .gist-syntax .mi {
    color : #009A9A ;
}

/* Literal.Number.Integer */
.markdown-body .gist-syntax .mo {
    color : #009A9A ;
}

/* Literal.Number.Oct */

.markdown-body .gist-syntax .s {
    color : #CC0000 ;
}

/* Literal.String */
.markdown-body .gist-syntax .sb {
    color : #CC0000 ;
}

/* Literal.String.Backtick */
.markdown-body .gist-syntax .sc {
    color : #CC0000 ;
}

/* Literal.String.Char */
.markdown-body .gist-syntax .sd {
    color : #C4A000 ;
}

/* Literal.String.Doc */
.markdown-body .gist-syntax .s2 {
    color : #CC0000 ;
}

/* Literal.String.Double */
.markdown-body .gist-syntax .se {
    color : #4E9A06 ;
}

/* Literal.String.Escape */
.markdown-body .gist-syntax .sh {
    color : #CE5C00 ;
}

/* Literal.String.Heredoc */
.markdown-body .gist-syntax .si {
    color : #CC0000 ;
}

/* Literal.String.Interpol */
.markdown-body .gist-syntax .sx {
    color : #CC0000 ;
}

/* Literal.String.Other */
.markdown-body .gist-syntax .sr {
    color : #CE5C00 ;
}

/* Literal.String.Regex */
.markdown-body .gist-syntax .s1 {
    color : #CC0000 ;
}

/* Literal.String.Single */
.markdown-body .gist-syntax .ss {
    color : #5C3566 ;
}

/* Literal.String.Symbol */
.markdown-body .gist-syntax .il {
    color : #CC0000 ;
}

/* Literal.Number.Integer.Long */

.markdown-body .amazon-item-detail,
.markdown-body .itunes-item-detail {
    margin : 1em auto ;
    width : 81% ;
}

.markdown-body .amazon-item-detail .thumbnail a,
.markdown-body .itunes-item-detail .thumbnail a {
    display : block ;
    text-align : center ;
}

.markdown-body .amazon-item-detail .thumbnail a img {
    border : 6px solid #FFFFFF ;
    box-shadow : 0px 1px 3px #888A85 ;
}

.markdown-body .itunes-item-detail dl,
.markdown-body .amazon-item-detail dl {
    padding : 1.25em 0 ;
}

.markdown-body .itunes-item-detail dl > *,
.markdown-body .amazon-item-detail dl > * {
    display : block ;
    margin : 0 ;
    padding : 0 ;
}

.markdown-body .itunes-item-detail dl > dt,
.markdown-body .amazon-item-detail dl > dt {
    width : 3em ;
    padding : 0 0.5em ;
    text-align : center ;
    line-height : 1.5em ;
}

.markdown-body div.itunes-item-detail dl > dd,
.markdown-body div.amazon-item-detail dl > dd {
    margin : -1.5em 0 0 5em ;
    line-height : 1.5em ;
}

.markdown-body .itunes-item-figure,
.markdown-body .amazon-item-figure {
    margin : 1em ;
    float : right ;
    clear : right ;
    width : 19% ;
    text-align : center ;
}

.markdown-body .amazon-item-figure a img {
    display : inline-block ;
    background-color : #FFFFFF ;
    border : 6px solid #FFFFFF ;
    box-shadow : 0px 1.5px 3px 0px #888A85 ;
}

@media screen and (max-width: 767px) {
    .markdown-body .itunes-item-figure,
    .markdown-body .amazon-item-figure {
        float : none ;
        width : auto ;
    }
}

@media screen and (max-width: 479px) {
    .markdown-body .itunes-item-figure,
    .markdown-body .amazon-item-figure {
        float : none ;
        width : auto ;
    }
}
      
 
    </style>
      
    <script>
      var baseUrl = '{{base_url}}';
      {{#page}}
      var pageFullPath = '{{url_path_display}}';
      var uploadDest   = '{{upload_dest}}';
      {{/page}}
    </script>
    <script type="text/javascript" src="{{base_url}}/javascript/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{base_url}}/javascript/mousetrap.min.js"></script>
    <script type="text/javascript" src="{{base_url}}/javascript/gollum.js"></script>
    <script type="text/javascript" src="{{base_url}}/javascript/gollum.dialog.js"></script>
    <script type="text/javascript" src="{{base_url}}/javascript/gollum.placeholder.js"></script>
    <script type="text/javascript" src="{{base_url}}/javascript/editor/gollum.editor.js"></script>
    {{#use_identicon}}
    <script type="text/javascript" src="{{base_url}}/javascript/identicon_canvas.js"></script>
    {{/use_identicon}}
    {{#mathjax}}
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath:  [ ['\\(','\\)'] ],
          displayMath: [ ['$$','$$'], ['\\[','\\]'] ],
          processEscapes: true
        },
      TeX: { extensions: ["autoload-all.js"] }});
    </script>
    <script>(function(d,j){
      j = d.createElement('script');
      j.src = 'https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML';
      (d.head || d.getElementsByTagName('head')[0]).appendChild(j);
      }(document));
    </script>
    {{/mathjax}}
  </head>
  <body>

  {{{yield}}}

  </body>
</html>
