<main id="wiki-wrapper" class="result pure-g">

  <header id="head" class="pure-u-1">
    <h1>{{title}}</h1>
  </header>

  <aside id="wiki-sidebar-container" class="pure-u-1 pure-u-md-10-24">
    <nav id="wiki-main-menu">
      <ul class="actions">
        <li class="label actions"><h1>Actions</h1></li>
        <li class="minibutton"><a href="{{base_url}}/" class="action-home-page"><i class="fa fa-home"><span>Home</span></i></a></li>
        <li class="minibutton"><a href="{{base_url}}/fileview" class="action-fileview"><i class="fa fa-file"><span>Files</span></i></a></li>
        <li class="minibutton jaws"><a href="#" id="minibutton-new-page"><i class="fa fa-plus"><span>New</span></i></a></li>
      </ul>
      <ul class="search">
        <li class="label search"><h1>Search</h1></li>
        <li class="search-field">
          {{>searchbar}}
        </li>
      </ul>
    </nav>

    {{#has_sidebar}}
    <div id="wiki-sidebar" class="gollum-{{sidebar_format}}-content">
      <article id="sidebar-content" class="markdown-body">
        {{{sidebar_content}}}
      </article>
    </div>
    {{/has_sidebar}}

  </aside>

  <article id="pages" class="pure-u-1 pure-u-md-14-24">
    {{#has_results}}
    <nav class="breadcrumb">
      {{{breadcrumb}}}
    </nav>

    <ul id="files">
      {{{files_folders}}}
    </ul>
    {{/has_results}}
  
    {{#no_results}}
    <p id="no-results" class="">
      There are no pages in <strong>{{ref}}</strong>.
    </p>
    {{/no_results}}
  </article>

</main>
