<script>
Mousetrap.bind(['e'], function( e ) {
  e.preventDefault();
  window.location = "/edit" + window.location.pathname;
  return false;
});
</script>

<main id="wiki-wrapper" class="page pure-g">
  <header id="head" class="pure-u-1">
    <h1><a href="{{base_url}}/{{escaped_url_path}}">{{page_header}}</a></h1>
  </header>
 
  <aside id="wiki-sidebar-container" class="pure-u-1 pure-u-md-10-24">
    <nav id="wiki-main-menu">
      <ul class="actions">
        <li class="label actions"><h1>Actions</h1></li>
        <li class="minibutton"><a href="{{base_url}}/" class="action-home-page"><i class="fa fa-home"><span>Home</span></i></a></li>
        <li class="minibutton"><a href="{{base_url}}/pages" class="action-all-pages"><i class="fa fa-list-alt"><span>All</span></i></a></li>
        <li class="minibutton"><a href="{{base_url}}/fileview" class="action-fileview"><i class="fa fa-file"><span>Files</span></i></a></li>
        <li class="minibutton jaws"><a href="#" id="minibutton-new-page"><i class="fa fa-plus"><span>New</span></i></a></li>
        {{#allow_uploads}}
        <li class="minibutton jaws"><a href="#" id="minibutton-upload-page"><i class="fa fa-cloud-upload"><span>Upload</span></i></a></li>
        {{/allow_uploads}}
        {{#editable}}
        <li class="minibutton jaws"><a href="#" id="minibutton-rename-page"><i class="fa fa-terminal"><span>Rename</span></i></a></li>
        <li class="minibutton"><a href="{{base_url}}/edit/{{escaped_url_path}}" class="action-edit-page"><i class="fa fa-pencil-square-o"><span>Edit</span></i></a></li>
        {{/editable}}
        {{#page_exists}}
        <li class="minibutton"><a href="{{base_url}}/history/{{escaped_url_path}}" class="action-page-history"><i class="fa fa-history"><span>History</span></i></a></li>
        {{/page_exists}}
        <li class="minibutton"><a id="delete-link" href="{{base_url}}/{{escaped_url_path}}" data-confirm="Are you sure you want to delete this page?"><span><i class="fa fa-ban"><span>Delete</span></i></span></a></li>
      </ul>
      <ul class="search">
        <li class="label search"><h1>Search</h1></li>
        <li class="search-field">
          {{>searchbar}}
        </li>
      </ul>
    </nav>

    <!--
    {{#has_toc}}
    <nav id="wiki-toc-main">
      {{{toc_content}}}
    </nav>
    {{/has_toc}}
    -->

    {{#has_sidebar}}
    <div id="wiki-sidebar" class="gollum-{{sidebar_format}}-content">
      <article id="sidebar-content" class="markdown-body">
        {{{sidebar_content}}}
      </article>
    </div>
    {{/has_sidebar}}

  </aside>

  <article id="wiki-content" class="pure-u-1 pure-u-md-14-24">
    <section id="wiki-body" class="gollum-{{format}}-content">
      {{#has_header}}
      <div id="wiki-header" class="gollum-{{header_format}}-content">
        <div id="header-content" class="markdown-body">
          {{{header_content}}}
        </div>
      </div>
      {{/has_header}}
      <div class="markdown-body">
        {{{content}}}
      </div>
    </section>
  
    {{#has_footer}}
    <footer id="wiki-footer" class="gollum-{{footer_format}}-content">
      <div id="footer-content" class="markdown-body">
        {{{footer_content}}}
      </div>
    </footer>
   {{/has_footer}}
  </article>

  <footer id="footer" class="pure-u-1">
    <p id="last-edit">Last edited by <b>{{author}}</b>, {{date}}</p>
  </footer>
</main>

<form name="rename" method="POST" action="{{base_url}}/rename/{{escaped_url_path}}">
  <input type="hidden" name="rename"/>
  <input type="hidden" name="message"/>
</form>
