<main id="wiki-wrapper" class="results pure-g">
  <header id="head" class="pure-u-1">
    <h1>Search Results for <strong>{{query}}</strong></h1>
  </header>

  <aside id="wiki-sidebar-container" class="pure-u-1 pure-u-md-10-24">
    <nav id="wiki-main-menu">
      <ul class="actions">
        <li class="label actions"><h1>Navigation</h1></li>
        <li class="minibutton"><a href="{{base_url}}/" class="action-home-page"><i class="fa fa-home"><span>Home</span></i></a></li>
      </ul>
      <ul class="search">
        <li class="label search"><h1>Search</h1></li>
        <li class="search-field">
          {{>searchbar}}
        </li>
      </ul>
    </nav>
  </aside>

  <article id="results" class="pure-u-1 pure-u-md-14-24">
    <div class="markdown-body">
      {{#has_results}}
      <ul>
        {{#results}}
        <li>
          <a href="{{base_url}}/{{name}}">{{name}}</a>
          <span class="count">({{count}} matches)</span>
        </li>
        {{/results}}
      </ul>
      {{/has_results}}

      {{#no_results}}
        <p id="no-results">
          There are no results for your search <strong>{{query}}</strong>.
        </p>
      {{/no_results}}
    </div>
  </article>
</main>

